@font-face {
    font-family: "corsiva";
    src: url("../fonts/Corsiva.woff2") format("woff2");
}
@font-face {
    font-family: "roman";
    src: url("../fonts/TimesNewRomanMTStd-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "arial";
    src: url("../fonts/ArialMT.woff") format("woff2");
}


.certificate{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    position: relative;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    border-top: 100px solid #00685a;
    border-bottom: 100px solid #00685a;
}
.certificateLogo{
    position: absolute;
    bottom: -103px;
    left: 50%;
    transform: translate(-50%,0);
    max-width: 600px;
    overflow: hidden;
}
.certificateLogo img{
    object-fit: cover;
    width: 100%;
}
.contentWrapper{
    position: relative;
    width: 95%;
    height: 115%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fdb92e;
}
.header{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "roman";
    color: #373435;
}
.header .title{
    font-size: 55px;
}
.header .description{
    font-size: 18px;
}
.name{
    font-family: "corsiva";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 50px;
    color: #bf873a;
    width: 100%;
    text-align: center;
}
.courseTitle{
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%,0);
    font-family: "roman";
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: #373435;
}
.course{
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%,0);
    font-family: "roman";
    font-size: 24.5px;
    color: #363435;
    width: 100%;
    text-align: center;
}
.desc{
    font-family: "arial";
    font-size: 12.5px;
    text-align: center;
    position: absolute;
    bottom: 13%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #025f54;
    text-align: left
}
.manager{
    position: absolute;
    font-family: "roman";
    bottom: 13%;
    right: 20%;
    font-size: 14px;
    color: #373435;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.manager .image{
    max-width: 300px;
    overflow: hidden;
}
.manager .image img{
    object-fit: cover;
    width: 100%;
}
@media only screen and (max-width:1450px){
    .manager .image{
        max-width: 200px;
    }
}
@media only screen and (max-width:768px){
    .manager .image{
        max-width: 100px;
    }
}
@media only screen and (max-width:600px){
    .header .title{
        font-size: 45px;
    }
    .header .description{
        font-size: 14px;
    }
    .courseTitle{
        font-size: 14px;
    }
    .name{
        font-size: 40px;
    }
    .course{
        font-size: 20px;
    }
    .desc{
        font-size: 10px;
    }
    .contentWrapper{
        width: 90%;
    }
    .certificateLogo{
        min-width: 350px;
    }
    .manager{
        right: 15%;
    }
}
@media only screen and (max-width:480px){
    .name{
        font-size: 30px;
    }
    .course{
        font-size: 15px;
    }
    .desc{
        font-size: 7px;
    }
    .manager{
        right: 5%;
        font-size: 12px;
    }
}
@media only screen and (max-width:380px){
    .name{
        font-size: 20px;
    }
    .course{
        font-size: 12px;
    }
    .desc{
        font-size: 5px;
    }
}